# Importing data from CSV files

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('sportsclub.csv')

In [4]:
df.head(6)

   Weight  Height
0      70     167
1      83     164
2      66     183
3      57     141
4      82     187
5      62     148

In [5]:
df['Weight']

0      70
1      83
2      66
3      57
4      82
       ..
195    87
196    50
197    70
198    56
199    80
Name: Weight, Length: 200, dtype: int64

The output is a Pandas series. It may be converted to a Numpy array:

In [9]:
b = df['Weight'].to_numpy()
b

array([70, 83, 66, 57, 82, 62, 83, 85, 54, 66, 52, 64, 88, 69, 87, 86, 79,
       84, 58, 56, 52, 66, 83, 51, 67, 88, 57, 70, 81, 63, 56, 64, 55, 68,
       55, 57, 52, 53, 81, 73, 52, 61, 71, 70, 75, 78, 55, 81, 57, 67, 66,
       51, 83, 85, 63, 68, 89, 72, 57, 52, 64, 52, 58, 58, 78, 54, 65, 74,
       77, 61, 65, 50, 65, 54, 52, 71, 82, 63, 57, 67, 85, 83, 57, 67, 54,
       81, 54, 58, 85, 77, 76, 89, 71, 68, 79, 88, 61, 79, 62, 72, 52, 77,
       69, 84, 73, 65, 83, 84, 58, 88, 62, 78, 71, 77, 85, 58, 78, 69, 87,
       89, 72, 60, 58, 89, 65, 55, 63, 74, 57, 53, 89, 59, 85, 84, 52, 65,
       83, 56, 66, 82, 89, 65, 59, 67, 87, 56, 69, 58, 83, 80, 51, 62, 69,
       55, 58, 59, 80, 86, 80, 68, 67, 84, 57, 77, 82, 71, 69, 58, 54, 89,
       85, 80, 68, 57, 60, 73, 82, 68, 56, 75, 86, 87, 84, 84, 80, 74, 54,
       67, 61, 84, 67, 55, 72, 54, 80, 87, 50, 70, 56, 80])

In [10]:
# and if you wanted to only have a subsection of this, you would define b as:
b[0:6]

array([70, 83, 66, 57, 82, 62])

## Task 2.1
Find the average weight of the members of the sports club. Check your answer.

69.34

In [11]:
b.mean()

np.float64(69.34)

## Task 2.2
Assign to variable d the Numpy array of the heights of all members of the sports club. Find the median and the variance of the heights. Check your answers.

[170.0, 254.2239]

In [20]:
d = df['Height']

print(f'Median of heights {d.median()}')
print(f'Variance of heights {d.var(ddof=0)}')

Median of heights 170.0
Variance of heights 254.2239

## Task 2.3
Assign to variable e the Numpy array of the body mass indexes (BMI) of the club members: if a member has weight (w) kg and height (h) cm, then its BMI is 10^4 * (w/(h**2)). Remember that in Python all array operations are done component-wise. Find the mean and the standard deviation of e. Check your answer.

[24.900949943455288, 6.54617400802904]

In [36]:
w = df['Weight']
h = df['Height']

e = (10**4 * (w/(h**2)))

print(f"Mean of player's BMI is {e.mean()}")
print(f"Standard dev. of player's BMI is {e.std(ddof=0)}")

Mean of player's BMI is 24.900949943455288
Standard dev. of player's BMI is 6.546174008029039