In [3]:
import numpy as np
import pandas as pd

In [4]:

pxy = pd.DataFrame([[0.1, 0.15, 0.05, 0.25],
                [0.15, 0.05, 0.15, 0.1]])
pxy

      0     1     2     3
0  0.10  0.15  0.05  0.25
1  0.15  0.05  0.15  0.10

In [13]:
px = pxy.sum(axis=1)
px.sum()

np.float64(1.0)

In [14]:
py = pxy.sum(axis=0)
py.sum()

np.float64(1.0)

In [16]:
x = pd.Series([0,1])
x

0    0
1    1
dtype: int64

In [18]:
y = pd.Series(np.arange(4))
y

0    0
1    1
2    2
3    3
dtype: int64

In [114]:
xsum = pxy.iloc[1].sum()
ysum = pxy.sum().dot(y)
print(xsum, ysum)

0.44999999999999996 1.65

In [99]:
Qy = pxy.dot(y)
Qy

0    1.00
1    0.65
dtype: float64

In [100]:
mxy = x.dot(Qy)
mxy

np.float64(0.65)

In [101]:
x.dot(pxy.dot(y))

np.float64(0.65)

In [115]:
x

0    0
1    1
dtype: int64

In [148]:
pxy.dot(y)*x.sum()

0    1.00
1    0.65
dtype: float64

In [154]:
exy = pxy.dot(y).dot(x)
exy

np.float64(0.65)

In [157]:
pxy

      0     1     2     3
0  0.10  0.15  0.05  0.25
1  0.15  0.05  0.15  0.10

In [158]:
x

0    0
1    1
dtype: int64

In [166]:
covxy = exy - ysum * xsum
covxy

np.float64(-0.09249999999999992)

In [184]:
a = pxy.iloc[0]
b = pxy.iloc[1]
pxy

      0     1     2     3
0  0.10  0.15  0.05  0.25
1  0.15  0.05  0.15  0.10

In [189]:
pxy.sum()

0    0.25
1    0.20
2    0.20
3    0.35
dtype: float64

In [211]:
px = pxy.sum(axis=1)
px

0    0.55
1    0.45
dtype: float64

In [223]:
mxx = px.dot(x**2)
mx = px.dot(x)

varx = mxx - mx**2
sx = varx**0.5


myy = py.dot(y**2)
my = py.dot(y)

vary = myy - my**2
sy = vary**0.5
print(sx, sy)

0.49749371855331 1.194780314534852

In [225]:
corrxy = covxy/(sy*sx)
corrxy

np.float64(-0.1556202370938297)

In [228]:
df = pd.read_csv("jointdistr.csv")
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,0.003,0.005,0.001,0.002,0.004,0.001,0.005,0.004,0.004,0.004,0.003,0.006,0.001,0.004,0.006,0.001,0.006,0.003,0.005
1,0.001,0.006,0.002,0.006,0.001,0.006,0.006,0.002,0.002,0.002,0.003,0.003,0.006,0.006,0.001,0.006,0.002,0.001,0.001
2,0.001,0.001,0.006,0.004,0.004,0.001,0.004,0.006,0.005,0.006,0.006,0.004,0.001,0.004,0.003,0.006,0.001,0.001,0.005
3,0.005,0.005,0.002,0.004,0.006,0.006,0.006,0.004,0.001,0.005,0.006,0.006,0.001,0.006,0.003,0.006,0.006,0.001,0.001
4,0.001,0.006,0.006,0.002,0.001,0.001,0.004,0.001,0.002,0.002,0.001,0.001,0.002,0.005,0.005,0.001,0.003,0.006,0.001
5,0.005,0.004,0.004,0.001,0.004,0.001,0.006,0.004,0.003,0.006,0.005,0.006,0.004,0.006,0.005,0.003,0.002,0.006,0.001
6,0.001,0.006,0.005,0.006,0.001,0.003,0.002,0.001,0.004,0.001,0.001,0.004,0.001,0.002,0.006,0.004,0.005,0.001,0.003
7,0.004,0.001,0.006,0.004,0.001,0.001,0.002,0.004,0.001,0.004,0.001,0.001,0.004,0.002,0.006,0.006,0.002,0.001,0.004
8,0.003,0.001,0.003,0.006,0.002,0.006,0.001,0.006,0.006,0.001,0.004,0.005,0.006,0.003,0.005,0.002,0.004,0.005,0.001
9,0.004,0.001,0.001,0.003,0.006,0.006,0.004,0.005,0.001,0.005,0.001,0.006,0.006,0.001,0.004,0.006,0.001,0.006,0.001
10,0.002,0.001,0.006,0.003,0.006,0.004,0.001,0.002,0.002,0.003,0.006,0.001,0.004,0.004,0.004,0.006,0.005,0.003,0.001
11,0.006,0.006,0.001,0.006,0.002,0.001,0.006,0.004,0.006,0.003,0.002,0.001,0.001,0.005,0.001,0.004,0.006,0.004,0.002
12,0.006,0.004,0.003,0.003,0.002,0.006,0.001,0.003,0.001,0.006,0.006,0.006,0.006,0.001,0.003,0.006,0.002,0.003,0.006
13,0.006,0.001,0.006,0.006,0.006,0.006,0.006,0.001,0.004,0.001,0.006,0.006,0.003,0.002,0.003,0.001,0.006,0.004,0.005
14,0.002,0.001,0.004,0.006,0.006,0.004,0.004,0.001,0.002,0.004,0.004,0.002,0.001,0.001,0.006,0.001,0.004,0.001,0.005

In [230]:
df.shape

(15, 19)

In [233]:
x = np.arange(15)
y = np.arange(19)

In [239]:
ey = df.dot(y).sum()
ey

np.float64(8.917999999999997)

In [241]:
ex = x.dot(df).sum()
ex

np.float64(7.042000000000001)

In [ ]:



# covxy = asbdfuigasiudyfgauysdgfusd - ex*ey