Introduction to Python

In [1]:
print('Hello, World!')

Hello, World!

Data Types

In [2]:
# list
print(['This','is','a','list'])

['This', 'is', 'a', 'list']

In [3]:
# dictionary
print({'Lecturer': 'Angelica',
       'Year': 2024})

{'Lecturer': 'Angelica', 'Year': 2024}

In [4]:
# bool
print(True)

True

In [5]:
# bool
print(False)

False

In [6]:
# float
print(12345.66)

12345.66

Mathematical Operations

In [7]:
1+2

3

In [8]:
"My name" + ' is Laimis'

'My name is Laimis'

In [9]:
'Laimis' * 3

'LaimisLaimisLaimis'

Variables

In [10]:
my_int = 42

In [11]:
my_int

42

In [12]:
my_string = 'Laimis Lisauskas'

In [13]:
my_string

'Laimis Lisauskas'

Operations on Variables

In [14]:
my_float_1 = 12.4

In [15]:
my_float_2 = 56.2

In [16]:
my_float_3 = my_float_1 + my_float_2
my_float_3

68.60000000000001

In [17]:
my_forname = 'Laimis'
my_surname = 'Lisauskas'

my_full_name = my_forname + ' ' + my_surname
my_full_name

'Laimis Lisauskas'

Augmented Assignment Operations

In [18]:
age = 23
age += 4
age

27

In [19]:
age *= 2
age 
# notice that the +4 was destructive and it changed the original age variable. Keep this in mind

54

Comments

In [20]:
# This is a single line comment

In [21]:
"""
This is a multi line comment
"""

'\nThis is a multi line comment\n'

In [22]:
'''
This is also a multi line comment
'''

'\nThis is also a multi line comment\n'

Functions

In [23]:
pi = 3.14159
round(pi, 3)

3.142

In [24]:
round(pi, 1)

3.1

In [25]:
my_list = [2,4,5,6,20]
min(my_list)

2

In [26]:
len(my_list)

5

In [27]:
my_name = 'Laimis Lisauskas'
len(my_name)

16

In [28]:
max(my_list)

20

Functions 2

In [29]:
def my_addition_function(my_argument_1, my_argument_2):
    answer = my_argument_1 + my_argument_2
    return answer

In [30]:
my_addition_function(2,3)

5

In [31]:
my_addition_function(10,2)

12

In [32]:
# answer 

# writing this wouldn't work because the variable is local to the function, whilst this call was global.
# this meant that the answer variable got destroyed after being used in the function

Methods

In [33]:
my_string = 'hello, my name is Laimis'

In [34]:
my_string.capitalize()

'Hello, my name is laimis'

In [35]:
my_string.lower()

'hello, my name is laimis'

In [36]:
my_string.title()

'Hello, My Name Is Laimis'

In [37]:
my_string.upper()

'HELLO, MY NAME IS LAIMIS'

In [38]:
# -1 means that there is no answer. This is because the previous code was destructive, meaning everything was capitalised
# and because find is case sensitive, lowercase e was not found
my_name.find('e')

-1

In [39]:
my_string.split()

['hello,', 'my', 'name', 'is', 'Laimis']

In [40]:
my_full_name = my_name.replace('Laimis', 'Laimutis')
my_full_name

'Laimutis Lisauskas'

More data types

In [41]:
my_list_1 = ['Mae', 'Hen', ' Wlad', 'Fy', 'Nhadau']

In [42]:
my_list_1[0]

'Mae'

In [43]:
my_list_1[3]

'Fy'

In [44]:
my_list_1[-1]

'Nhadau'

In [45]:
my_list_2 = ['Laimis Lisauskas', 42, 3.14159, True, ['South', 'Wales']]

In [46]:
my_list_2[:]

['Laimis Lisauskas', 42, 3.14159, True, ['South', 'Wales']]

In [47]:
my_list_2[1:]

[42, 3.14159, True, ['South', 'Wales']]

In [48]:
my_list_2[:2]

['Laimis Lisauskas', 42]

In [49]:
# start : stop : step
# the minus 2 in this example goes from the last variable in negative 2 count
my_list_2[::-2]

[['South', 'Wales'], 3.14159, 'Laimis Lisauskas']

Set methods

In [50]:
my_set1 = {2,3,5,7}
my_set2 = {1,3,5,7,9}

In [51]:
union = my_set1.union(my_set2)
union

{1, 2, 3, 5, 7, 9}

In [52]:
intersection = my_set1.intersection(my_set2)
intersection

{3, 5, 7}

Program control

In [53]:
age = 18

In [54]:
if age >= 18:
    print('Welcome to the Pub!')

Welcome to the Pub!

In [55]:
age = 17

In [56]:
if age >= 18:
    print('Welcome to the Pub!')

# Notice that this did not get triggered, as age is lower than 18

In [57]:
if age >= 18:
    print('Welcome to the Pub!')
else:
    print("Here's a Lemonade instead!")

Here's a Lemonade instead!

In [58]:
age = 18
if age >= 18:
    print('Welcome to the Pub!')
else:
    print("Here's a Lemonade instead!")

Welcome to the Pub!

In [59]:
my_mark1 = 0.7
my_mark2 = 0.2

if (my_mark1) >= 0.4:
    if my_mark2 >= 0.4:
        print('Congratulations, you passed the course')
    else:
        print('Sorry, you failed the course')
else:
    print('Sorry, you failed the course')

Sorry, you failed the course

In [60]:
for university in ['USW', 'Cardiff', "Swansea", 'Bristol']:
    print(university)

USW
Cardiff
Swansea
Bristol

In [61]:
for number in range(1,5):
    print(number)

1
2
3
4

In [62]:
for colour in ('red','blue','yellow'):
    print(colour)
else:
    print('Those are all the primary colours!')

red
blue
yellow
Those are all the primary colours!

While loops

In [63]:
i = 0
while i < 3:
    print(i)
    i += 1

0
1
2

In [64]:
choise = 0
while choise < 0:
    print(choise)

In [65]:
# choise = 0
# while choise <= 0:
#     print(choise)

# dangerious because this is an infinite loop